<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <h3>YouBike使用說明</h3>
        <br>
    </head>
    <body>
        <h4>租借</h4>
        首先，請確認您已經申辦會員，並確保悠遊卡或一卡通內有足夠餘額。租車時，按下 "啟動靠卡" 鈕，將卡片放置在感應區，等待螢幕顯示 "請取車" 字樣並發	出短鳴聲後，即可將車拉出。請確保雙手穩定用力，避免車輛卡住。
        <h4>歸還</h4>
        還車時，請選擇一個空柱，將車輛推入空柱內，確保輪胎壓齊地上白線並對準卡槽。推入到底後，將悠遊卡或一卡通放置在感應區，完成扣款程序後螢幕會顯示 	"還車成功"。此時，請再次確認車輛已鎖定，避免發生車輛未歸還的情況。
        <h4>付費方式</h4>
        YouBike的租借費用透過悠遊卡或一卡通支付，這些卡片可以在大多數便利商店、捷運站等地點充值。申辦會員時需提供手機號碼、卡號等個人資訊，以便在發	生問題時能夠及時聯繫。
        <h4>安全須知</h4>
        租借前，請務必檢查車輛的狀況。輪胎應保持充氣狀態，煞車應靈敏有效，椅墊高度應根據騎乘者的需求進行調整，確保騎行舒適與安全。請勿攜帶他人騎乘，	尤其是小孩或寵物，以免發生意外。
        <h4>車輛問題</h4>
        如果在騎行過程中遇到車輛問題，如輪胎爆胎、煞車失靈等，請將車輛停在安全位置，並將椅墊旋轉180度。這樣維修人員會識別到該車需要維修，並及時處	理。
    </body>
</html>